body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#5C5470;
    background-color:#352F44;
    padding: 10px;
}

header{
    color: #83B4FF;
    font-weight: bold;
    font-style: italic;
    width: auto;
    margin: auto;
    text-align: center;
}

nav{
    /* background-color: white; */
    /* margin: 20px auto 20px auto;
    padding: 20px 0;
    border-radius: 35px;
    box-shadow: 5px 5px 20px black;
    width: 600px;
    height: 300px; */
}

main{
    background-color: #FAF0E6;
    width: 960px;
    margin: auto;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 1px 1px 5px black;
    word-wrap: normal;
}

footer{
    background-color: white;
    width: 960px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 1px 1px 5px black;
}

hr{
    border: 1px solid #5C5470;
}

pre{
    font-size: 18px;
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
}

a{
    color:#352F44;
}

.logo{
    height: 100px;
    border-radius: 10px;
}

.pudelko{
    font-size: 1.5em;
    width: 100px;
    height: 100px;
}

.menuBtn{
    color:#352F44;
    background-color:#FAF0E6;
    font-size: 1.5em;
    text-decoration: none;
    width: 125px;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 20px 3px;
    box-shadow: 1px 1px 5px black;
}

.selected{
    background-color:#5C5470;
    color: #FAF0E6;
    font-weight: bold;
}

.inline{
    display: inline;
}